<footer>
    <div class="footer-div">
        <div class="priv">
            <a>&copy2025 HomeHive,Inc</a>
            <a href="#"> Privacy </a>
            <a href="#"> Terms </a>
        </div>
        <div class="social">
            <a href="#" style="color: #302e2e "><i class="fa-brands fa-facebook"></i></a>
            <a href="#" style="color: #302e2e "><i class="fa-brands fa-instagram"></i></a>
            <a href="#" style="color: #302e2e "><i class="fa-brands fa-linkedin-in"></i></a>
        </div>
    </div>
</footer>