<% layout('./layouts/boilerplate2.ejs') -%>
<body>
    <div class="error-container">
        <img src="/assets/pnf.png" alt="Page Not Found" class="error-img">
        <a href="/listings" style="text-decoration: none; color: #302e2e;"><h3>Return back to Homepage</h3></a>
    </div>
    
</body>
